/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*New style*/

html {
  /*includes border when setting with*/
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*block elements + inline elements */
body {
  background-color: #60a9ff;
  /*flex-direction:default row*/
  display: flex;
  /*main axis*/
  justify-content: center;
  /*cross axis*/
  align-items: center;
  /*visible height - 100vh/100% - resize stays fixed until scroll*/
  /*min-height - cannot be smaller than 100vh*/
  min-height: 100vh;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px; /*topbot leftright*/
  /*parent body*/
  width: 100%;
  /*but only allow it to get to 960px*/
  max-width: 960px;

  /*mobile first approach*/
  display: flex;
  /*default row*/
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

/*class for the 3 div elements*/
.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
}
/*pseudo class*/
.pricing-plan:last-child {
  border-bottom: none;
}

/*class for 3 img elements*/
.pricing-img {
  margin-bottom: 25px;
  /*allow to get to 100% width of parent div*/
  max-width: 100%;
}

/*class h1*/
.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

/*class all ul*/
.pricing-features {
  /*top rightleft bottom*/
  margin: 50px 0 25px;
  color: #016ff9;
}

/*class all li*/
.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  /*topbot leftright*/
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

/*last li item in each div ul*/
.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

/*class all span*/
.pricing-price {
  color: #016ff9;
  /*span default inline*/
  display: block;
  font-size: 32px;
  font-weight: 700;
}

/*class all a*/
.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  /*default inline - cant add padding etc*/
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  /*if more things change set it to - all*/
  transition: background-color 200ms ease-in-out;
}
/*pseudo class*/
.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

/*class a with 2 class names*/
.pricing-button.is-featured {
  background-color: #48aaff;
  color: white;
}
/*pseudo class*/
.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #269aff;
  color: white;
}

/*browser screen*/
/*when width > 900px*/
@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  /*class for the 3 div elements*/
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  /*pseudo class*/
  .pricing-plan:last-child {
    border-right: none;
  }
}
